#gallery {
    overflow: hidden;
    width: 100%;
    height: 500px;
}
.gallery-thumbnail-container {
    width: 100%;
    height: 10%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.gallery-thumbnail-container div {
    margin: 1%;
    height: 100%;
    /* opacity: 0.7; */
}
.thumbnail {
    max-height: 100%;
    max-width: 100%;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}
.thumbnail:hover {
    opacity: 0.9; 
}
.gallery-main {
    text-align: center;
    width: 100%;
    height: 88%;
}
.gallery-main img {
    max-width: 100%;
    max-height: 100%;
}