/* header.css */
/* Header style */
nav {
    /* border-bottom: 2px solid rgb(182, 182, 182); */
    margin: 0 var(--column-margin);
    height: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
nav a {
    text-decoration: none;
    color: black;
    /* font-size: small; */
}
nav div {
    /* border-bottom: 1px solid coral; */
    width: 3ch;
    text-align: center;
    margin: 5px 0.375ch;
}

/* Footer style */
footer {
    pointer-events: all;
    font-size: x-small;
    color: grey;
    text-align: center;
    position: absolute;
    bottom: -20px;
    width: 100%;
    padding-bottom: 1%;
}

#page-container {
    float: left;
    padding-bottom: 2.5rem;
    pointer-events: none;
    position: relative;
}

#about-container {
    float: left;
    pointer-events: none;
}
#about-container div {
    pointer-events: all;
}