* {     /* Reset CSS for everything */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
html, body { 
    margin:0; 
    padding:0; 
    overflow:hidden
}
#ripple-background {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}
#ripple-background div {
    position: fixed;
}
#ripple-background svg { 
    position:fixed; 
    top:0; 
    bottom:0;
    width: 100%;
    height: 100%;
}