 /* * {     
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}  */
html, body { 
    margin:0; 
    padding:0; 
    /* overflow:hidden */
}
#ripple-background {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}
#ripple-text {
    position: fixed;
    color: antiquewhite;
    word-break: break-all;
    font-family: 'OCR A Std', monospace;
    font-weight: bold;
    line-height: 10px;
    transform: scale(1.5); 
}
#ripple-background svg { 
    position:fixed; 
    top:0; 
    bottom:0;
    width: 100%;
    height: 100%;
}