:root {
    --column-margin: 20vw;
}
@font-face {
    font-family: 'Glacial Indifference';
    src: local('Glacial Indifference Regular'), url('../resources/fonts/glacial-indifference/GlacialIndifference-Regular.otf');
}    
body {
    margin: 0;
    font-family: 'Glacial Indifference', Fallback, sans-serif;
}
p, li, ol {
    font-size: 12pt;
}
a.pdf-link::after {
    display: inline;
    font-size: x-small;
    vertical-align: top;
    content: '[PDF]';
}
#page-title {
    margin: 0 var(--column-margin);
    padding: 0 0 3px 0;
    border-bottom: thin solid black;
    /* text-align: center; */
}
#page-title h1 {
    font-size: xx-large;
    margin: 0;
}
#page-title h2 {
    position: relative;
    left: 1.5em;
    color: darkgrey;
    font-size: large;
    margin: 0;
}

/* For tidbit headers, which include a date */
#page-title .tidbit-header {
    position: relative;
}
#page-title .tidbit-header div {
    color: grey;
    font-size: normal;
}
#page-title .tidbit-header h3 {
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 3px;
}