@font-face {
    font-family: 'Clear Sans';
    src: local('Clear Sans Regular'), url('/resources/fonts/clear-sans/ClearSans-Regular.tff');
}    
body {
    margin: 0;
    font-family: 'Clear Sans', Fallback, sans-serif;
}
p, li, ol {
    font-size: 10pt;
}

#page-title {
    margin: 0 15%;
    padding: 0;
    border-bottom: thin solid coral;
    line-height: 0;
    /* text-align: center; */
}
#page-title h1 {
    font-size: xx-large;
}