:root {
    --column-margin: 20%;
}
@font-face {
    font-family: 'Glacial Indifference';
    src: local('Glacial Indifference Regular'), url('../resources/fonts/glacial-indifference/GlacialIndifference-Regular.otf');
}    
body {
    margin: 0;
    font-family: 'Glacial Indifference', Fallback, sans-serif;
}
p, li, ol {
    font-size: 11pt;
}

#page-title {
    margin: 0 var(--column-margin);
    padding: 0;
    border-bottom: thin solid black;
    line-height: 0;
    /* text-align: center; */
}
#page-title h1 {
    font-size: xx-large;
}